doctype html
head
  title CSS ZEN Garden: The Beauty of CSS Design
body
  h3 CSS Zen Garden
  article
    h3 Overview
      section
        h3 So what is This About?
          p There is a continuing need to show the power of CSS. The Zen Garden aims to excite, inspire, and encourage participation. To begin, view some of the existing designs in the list. Clicking on any one will load the style sheet into this very page. The HTML remains the same, the only thing that has changed is the external CSS file. Yes, really
          p CSS allows complete and total control over the style of a hypertext document. The only way this can be illustrated in a way that gets people excited is by demonstrating what it can truly be, once the reins are placed in the hands of those able to create beauty from structure. Designers and coders alike have contributed to the beauty of the web; we can always push it further.
        h3 participation
          p
            | Strong visual design has always been our focus. You are modifying this page, so strong CSS skills are necessary too, but the example files are commented well enough that even CSS novices can use them as starting points. Please see the
            a(href="http://www.mezzoblue.com/zengarden/resources/") CSS Resource Guide
            | for advanced tutorials and tips on working with CSS.

          p You may modify the style sheet in any way you wish, but not the HTML. This may seem daunting at first if you&#8217;ve never worked this way before, but follow the listed links to learn more, and use the sample files as a guide.
          p
            | Download the sample
            a(href="http://www.csszengarden.com/examples/index") HTML
            | and
            a(href="http://www.csszengarden.com/examples/style.css") CSS
            | to work on a copy locally. Once you have completed your masterpiece (and please, don&#8217;t submit half-finished work) upload your CSS file to a web server under your control.
            a(href="http://www.mezzoblue.com/zengarden/submit/") Send us a link
            | to an archive of that file and all associated assets, and if we choose to use it we will download it and place it on our server.
      section
        h3 Benefits
          p Why participate? For recognition, inspiration, and a resource we can all refer to showing people how amazing CSS really can be. This site serves as equal parts inspiration for those working on the web today, learning tool for those who will be tomorrow, and gallery of future techniques we can all look forward to.
      section
        h3 Requirements
          p Where possible, we would like to see mostly CSS 1 &amp; 2 usage. CSS 3 &amp; 4 should be limited to widely-supported elements only, or strong fallbacks should be provided. The CSS Zen Garden is about functional, practical CSS and not the latest bleeding-edge tricks viewable by 2% of the browsing public. The only real requirement we have is that your CSS validates.
          p Luckily, designing this way shows how well various browsers have implemented CSS by now. When sticking to the guidelines you should see fairly consistent results across most modern browsers. Due to the sheer number of user agents on the web these days &#8212; especially when you factor in mobile &#8212; pixel-perfect layouts may not be possible across every platform. That&#8217;s okay, but do test in as many as you can. Your design should work in at least IE9+ and the latest Chrome, Firefox, iOS and Android browsers (run by over 90% of the population).
          p We ask that you submit original artwork. Please respect copyright laws. Please keep objectionable material to a minimum, and try to incorporate unique and interesting visual themes to your work. We&#8217;re well past the point of needing another garden-related design.
          p
            | This is a learning exercise as well as a demonstration. You retain full copyright on your graphics (with limited exceptions, see
            a(href="http://www.mezzoblue.com/zengarden/submit/guidelines/") submission guidelines
            | but we ask you release your CSS under a Creative Commons license identical to the one
            a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/") on this site
            | so that others may learn from your work.
      section
          h4 Author Information
            p By <a href="http://www.mezzoblue.com/")>Dave Shea</a> Bandwidth graciously dontated by <a href="http://www.mediatemple.net/")>mediatemple</a> now available <a href="http://www.amazon.com/exec/obidos/ASIN/0321303474/mezzoblue-20/">Zen Garden, the book.</a>
      footer
        a(href="http://validator.w3.org/check/referer") HTML
        a(href="http://jigsaw.w3.org/css-validator/check/referer") CSS
        a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/") CC
        a(href="http://mezzoblue.com/zengarden/faq/#aaa") A11y
        A(href="https://github.com/mezzoblue/csszengarden.com") GH
      aside
        h3 Select a Design
          ul.class
            li
              a(href='http://www.csszengarden.com/220/') Garments
              | by
              a(href='http://danielmall.com/') Dan Mall
            li
              a(href='http://www.csszengarden.com/219/') Steel
              | by
              a(href='http://steffen-knoeller.de/') Steffen Knoeller
            li
              a(href='http://www.csszengarden.com/218/') Apothecary
              | by
              a(href='http://trentwalton.com/') Tren Walton
            li
              a(href='http://www.csszengarden.com/217/') Screen Filler
              | by
              a(href='http://elliotjaystocks.com/') Elliot Jay Stocks
            li
              a(href="http://www.csszengarden.com/216/") Fountain Kiss
              | by
              a(href="http://jeremycarlson.com./") Jeremy Carlson
            li
              a(href="http://www.csszengarden.com/215/") A Robot Named Jimmy
              | by
              a(href="http://meltmedia.com/") meltmedia
            li
              a(href="http://www.csszengarden.com/214/") Verde Moderna
              | by
              a(href="http://www.mezzoblue.com/") Dave Shea
            li
              a(href="http://www.csszengarden.com/213/") Under the Sea!
              | by
              a(href="http://www.imdb.com/name/nm0000655/?ref_=nv_sr_2") Eric Stoltz
          h3 Archives
            ul
              li
                a(href="http://www.csszengarden.com/214/page1") Next Disgns
              li
                a(href="http://www.mezzoblue.com/zengarden/alldesigns/") View All designs
          h3 Resources:
            ul
              li
                a(href="http://www.csszengarden.com/214/214.css") View This Design&#8217;s CSS
              li
                a(href="http://www.mezzoblue.com/zengarden/resources/") CSS Resources
              li
                a(href="http://www.mezzoblue.com/zengarden/faq/") FAQ
              li
                a(href="http://www.mezzoblue.com/zengarden/submit/") Submit a Design
              li
                a(href="http://www.mezzoblue.com/zengarden/translations/") Translations



